<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>About-DineFlow</title>
</head>
<body>
    <header>
        <nav>
            <img src="logo.png" style="justify-content: left;">
            <a href= "/home">Home</a>
            <a href="/menu">Menu</a>
            <a href="/offers">Offers</a>
            <a href="/about">About</a>
            <a href="/cart">Cart</a>
            <a href="/">Logout</a>
        </nav>
    </header>
    <main>
        <div>
            <div class="container">
                <div class="text">
                    <h1 class="noto-sansH">We are DineFlow</h1>
                    <p class="noto-sansP">A smart and dynamic restaurant management system. Seamless ordering, efficient operations, and enhanced dining experiences.</p>             
                </div>
                <img class="image" src="dine.jpg" alt="DineFlow">
            </div>
            <div class="container">
                <div class="text">
                    <h1 class="noto-sansH">Innovation in Dining</h1>
                    <p class="noto-sansP">We revolutionize restaurant management with cutting-edge technology, ensuring smooth service, real-time analytics, and customer satisfaction.</p>
                </div>
                <img class="image" src="innovation.jpg" alt="Innovation">
            </div>
            <div class="container">
                <div class="text">
                    <h1 class="noto-sansH">Empowering Restaurants</h1>
                    <p class="noto-sansP">From digital menus and automated order management to real-time analytics and seamless payments, we help restaurants optimize operations and enhance guest experiences. DineFlow ensures everything flows effortlessly.</p>
                </div>
                <img class="image" src="empowering_restaurants.webp" alt="Empowering Restaurants">
            </div>
            <div class="container">
                <div class="text">
                    <h1 class="noto-sansH">Shaping the Future of Dining</h1>
                    <p class="noto-sansP">With a commitment to efficiency and innovation, we're redefining how restaurants operate—where technology meets taste, and every meal is a delightful experience. We empower restaurants to deliver exceptional service.</p>
                </div>
                <img src="future.jpg" alt="Future of Dining">
            </div>
        </div>
    </main>
    <footer>
        <div>
            <h3>&copy; 2025 DineFlow. All Rights Reserved.</h3>
            <h3>Created by- <b>Parv Tiwari</b></h3>
        </div>
    </footer>
</body>
</html>