<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>DineFlow-Smart Restaurant System</title>
</head>
<body>
    <%- include("includes/navBar.ejs") %>
    <main>
        <div class="bg">
            <h1>Welcome to DineFlow!</h1>
        </div>

        <div class="contact_us">
            <h2>Contact Us</h2>
            <h4 class="lilita-one-regular">Let Us Help!</h4>
            <p class="lilita-one-regular">Looking for more information about our services? Contact us today, and our dedicated team will get back to you as quickly as possible. We're here to help and look forward to connecting with you!</p>
            <div class="details bebas-neue">
                <div>
                    <h3>Address</h3>
                    <p>
                        SGSITS
                        <br>
                        23 Sir M. Visvesvaraya Marg
                        <br>
                        Indore, Madhya Pradesh 452003
                    </p>
                </div>
                <div>
                    <h3>Phone</h3>
                    <p>Parv Tiwari: <a href="tel:+919285121000">92851 21000</a></p>
                </div>
            </div>
        </div>
        
        <div class="review">
            <h2>Leave a Review</h2>
            <form method="post" action="/home/review" onsubmit="return validateForm();">
                <input type="text" placeholder="Your Name" name="name" required>
    
                <input type="email" placeholder="Your Email" name="email" required>
                
                <input type="number" placeholder="Your Mobile Number" name="number" required>
                <br>
                <textarea rows="5" placeholder="Your feedback..." name="feedback" required></textarea>
                <button>Submit Review</button>
            </form>
        </div>
    </main>
    <%- include("includes/footer.ejs") %>
    <script src="home.js"></script>
</body>
</html>