<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="payment.css">
    <title>Payments-Dineflow</title>
</head>
<body>
    <button id="payBtn">Pay ₹1</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="payment.js"></script>
    <%- include("includes/footer.ejs") %>
</body>
</html>